{% extends "layout.html" %}

{% block main %}

<h1> Glasgow Nextbike Stations</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ iframe|safe }}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div>
    <h4>Map Last Updated :{{stations_last_checked}}</h4>
    <p>If not fresh, contact admin to fix it</p>

    <p>Green is 0 to 2 days since last check</p>
    <p>orange 3 to 5</p> 
    <p>red 6 to 9</p>
    <p>dark red over 9 days or never</p>
</div>


 {% endblock %}